.master 
{
  background-color: #09192A;
}
.navbar 
{
	border-radius: 0;
  margin-bottom: 0;
}
.navbar-default 
{
	background-color: #09192A;
  border-color:  #09192A;
}
.navbar-brand
{
	font-size: 30px;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus 
{
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>li>a
{
	color: #fff;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus 
{
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus 
{
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover 
{
	background-color: transparent;
  	color: #fff;
}
.navbar-default .navbar-toggle 
{
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus 
{
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar 
{
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar 
{
  background-color: #ffffff;
}


/*side-bar */

.col-md-3 
{
  background-color: #09192A;

}
.side-bar
{
  background-color: #09192A;
  width: 260px;
  z-index: 1;
  position: absolute;
}
.nav-pills > li > a 
{
  color: #fff;
   
}
.nav-pills > li > a > i
{
  padding-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.nav-pills > li 
{
  border-bottom: 1px solid #fff;
}
.nav-pills > li >a:hover,
.nav-pills > li >a:focus
{
  background-color: transparent;
  color: red;
}

/*content*/

.content
{
  margin:0 0 0 260px;
  padding: 15px 30px;
  min-height: 1000px;
  background: #E5EBF2;
}
.panel-body
{
  width: 400px;
  margin-left: 300px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline 
{
  margin-left: 0;
}
